main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 756px;
    border: solid 1px #000000;
    margin-left: 5%;
}

.esquerda h1 {
    width: 424px;
    height: 211px;
    font-family: "Roboto", serif;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 115px;
}

.color {
    color: #ED4D1B;
}

.esquerda p {
    width: 368px;
    height: 112px;
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 32px;
    margin-left: 115px;
}

.esquerda button {
    width: 225px;
    height: 48px;
    margin-top: 32px;
    margin-left: 115px;
    background-color: #ED4D1B;
    color: #000000;
    box-shadow: 4px 4px #000000;
    font-family: "Roboto", serif;
    font-size: 1.25rem;
    font-weight: 500;
    border: solid 2px #000000;
    transition: 0.2s;
}

.esquerda button:hover {
    transform: scale(1.1);
}

.direita img {
    width: 782px;
    height: 561px;
}

@media screen and (max-width: 500px) {

    main {
        flex-direction: column-reverse;
        height: 927px;
    }

    .direita img {
        width: 375px;
        height: 300px;
        margin-top: 46px;
    }

    .esquerda h1 {
      width: 340px;
      font-size: 3rem;
      padding-left: 50px;
      margin: 0;
    }

    .esquerda p {
        width: 350px;
        height: 115px;
        font-size: 1.25rem;
        padding-left: 50px;
    }

    .esquerda button {
        margin: 0;
        padding-left: 50px;
    }
}