header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    width: 90%;
    height: 100px;
    margin-left: 60px;
}

#logo {
    width: 123px;
    font-size: 1.6rem;
    font-weight: 900;
    padding-inline: 115px;
}

#menu-mobile {
    display: none;
}

nav {
    display: flex;
    gap: 60px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.25rem;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.4);
    color: #ED4D1B;
}

#btn {
    padding-right: 94px;
}

#btn button {
    width: 200px;
    height: 48px;
    background-color: #ED4D1B;
    box-shadow: 4px 4px #000000;
    border: 2px solid #000000;
    transition: 0.3s;
}

#btn button:hover {
    transform: scale(1.2);
}